body {
	background-color: black;
	color: white;
	font-family: Lato;
	padding-left: 10px;
}
header {
	font-size: 100px;
}

table {
	border-collapse: collapse;
}

#usersTableHead,
#roomsTableHead {
	font-size: 50px;
	font-weight: normal;
	text-align: left;
}

#usersTable tr:hover {
	font-weight: bold;
}
#roomsTable tr:hover {
	font-weight: bold;
}
