table {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
}

#row:after {
	content: '';
	display: table;
	clear: both;
}

#playlistsTable tbody,
#usersTable tbody,
#roomsTable tbody {
	display: block;
	width: 100%;
	overflow: auto;
	max-height: 250px;
}

#playlistsTable thead tr,
#usersTable thead tr,
#roomsTable thead tr {
	display: block;
}

#playlistsTable thead th,
#roomsTable thead th,
#usersTable thead th {
	font-weight: lighter;
	font-size: 50px;
}
.playliststableCell {
	padding: 5px 10px;
	position: relative;
	border-bottom: 1px solid #292929;
}

.roomstableCell {
	padding: 5px 10px;
	width: 200px;
	position: relative;
	border-bottom: 1px solid #292929;
}

.roomstableCell:after {
	content: '&nbsp;';
	visibility: hidden;
}

.roomstableCell span {
	position: absolute;
	left: 0;
	right: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.currentSong td:first-child,
.playliststableRow td:first-child {
	width: 20px;
	text-align: center;
}
.currentSong td:nth-child(2),
.playliststableRow td:nth-child(2) {
	width: 100%;
}

.currentRoom,
.currentSong,
.playliststableRow:hover,
.roomstableRow:hover {
	background-color: #292929;
	font-weight: bold;
	cursor: pointer;
}
